.Chat-side{
  width: 300px;
  color: $color;
  float: left;
  .Side-header{
    background-color: #253141;
     height: 100px;
     display: flex;
     align-items: center;
     padding: 0 20px;
    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__user-name{
      }
    &__menu{
      display: flex;
      &__new-group{
        margin-left: 0.3rem;
        a{
          color: white;
          .fa-edit{
            color: $color;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
      }
      }
      &__edit-user{
        margin-left: 0.3rem;
        .fa-cog{
          color: $color;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
    }
  }
  .Groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    bottom: 0;
    .Group{
      margin-bottom: 40px;
      a{
        color: white;
        text-decoration: none;
        .Group__group-name{
          font-size: 15px;
          margin-bottom: 5px;
        }
        .Group__latest-message{
          font-size: 11px;
          margin-bottom: 40px;
        }
      }
    }
  }
} 